{% assign contact = site.data.data.contact %}

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if contact.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </li>
    {% endif %}

    {% if contact.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
    </li>
    {% endif %}

    {% if contact.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ contact.citizenship }}</a>
    </li>
    {% endif %}

    {% if contact.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="https://worldtimeapi.org/timezone/{{ contact.timezone }}" target="_blank">{{ contact.timezone }} Timezone</a>
    </li>
    {% endif %}

    {% if contact.telegram %}
    <li class="telegram"><i class="fab fa-telegram"></i>
      <a href="https://t.me/{{ contact.telegram }}" target="_blank">{{ contact.telegram }}</a>
    </li>
    {% endif %}

    {% if contact.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="{{ contact.website }}" target="_blank">Online Resume</a>
    </li>
    {% endif %}

    {% if contact.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ contact.linkedin }}" target="_blank">{{ contact.linkedin }}</a>
    </li>
    {% endif %}

    {% if contact.xing %}
    <li class="xing"><i class="fab fa-xing"></i>
      <a href="https://www.xing.com/profile/{{ contact.xing }}" target="_blank">{{ contact.xing }}</a>
    </li>
    {% endif %}

    {% if contact.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="https://github.com/{{ contact.github }}" target="_blank">{{ contact.github }}</a>
    </li>
    {% endif %}

    {% if contact.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="https://gitlab.com/{{ contact.gitlab }}" target="_blank">{{ contact.gitlab }}</a>
    </li>
    {% endif %}

    {% if contact.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="https://bitbucket.com/{{ contact.bitbucket }}" target="_blank">{{ contact.bitbucket }}</a>
    </li>
    {% endif %}

    {% if contact.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ contact.twitter }}" target="_blank">{{ contact.twitter }}</a>
    </li>
    {% endif %}

    {% if contact.bluesky %}
    {% assign bluesky_handle = contact.bluesky | remove: '@' %}
    <li class="bluesky"><i class="fab fa-bluesky"></i>
      <a href="https://bsky.app/profile/{{ bluesky_handle }}" target="_blank">{{ contact.bluesky }}</a>
    </li>
    {% endif %}

    {% if contact.mastodon %}
    {% assign mastodon_handle = contact.mastodon | split: '/' %}
    <li class="mastodon"><i class="fab fa-mastodon"></i>
      <a href="{{ contact.mastodon }}" target="_blank">{{ mastodon_handle[3] }}@{{ mastodon_handle[2] }}</a>
    </li>
    {% endif %}

    {% if contact.stack_overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ contact.stack_overflow }}" target="_blank">{{ contact.stack_overflow }}</a>
    </li>
    {% endif %}

    {% if contact.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ contact.codewars }}/completed_solutions" target="_blank">{{ contact.codewars }}</a>
    </li>
    {% endif %}

    {% if contact.hackerrank %}
    <li class="hackerrank"><i class="fab fa-hackerrank"></i>
      <a href="https://www.hackerrank.com/profile/{{ contact.hackerrank }}" target="_blank">{{ contact.hackerrank }}</a>
    </li>
    {% endif %}

    {% if contact.leetcode %}
    <li class="leetcode"><i class="fas fa-code"></i>
      <a href="https://leetcode.com/u/{{ contact.leetcode }}" target="_blank">{{ contact.leetcode }}</a>
    </li>
    {% endif %}

    {% if contact.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ contact.goodreads }}" target="_blank">{{ contact.goodreads }}</a>
    </li>
    {% endif %}

    {% if contact.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ contact.pdf }}" target="_blank">Resume PDF</a>
    </li>
    {% endif %}

    {% if contact.instagram %}
    <li class="pdf"><i class="fab fa-instagram"></i>
      <a href="https://www.instagram.com/{{ contact.instagram }}" target="_blank"> {{ contact.instagram }}</a>
    </li>
    {% endif %}


  </ul>
</div><!--//contact-container-->
